packages/
bin/
obj/
.vs/
*.csproj.user
*.suo
*.tmp
*.zip
*.manifest
.vscode
publish/
.idea/
__pycache__/
Scripts/.credentials/sheets.googleapis.com-localization.json
Scripts/client_secret.json
Scripts/string_sheet_id.txt
Scripts/zone_sheet_id.txt
Scripts/item_sheet_id.txt
venv/
