packages/
bin/
!Asset/Data/Script/bin/
obj/
.vs/
*.csproj.user
*.suo
*.tmp
*.zip
*.manifest
.vscode
publish/
.idea/
__pycache__/
Scripts/.credentials/sheets.googleapis.com-localization.json
Scripts/client_secret.json
Scripts/sheet_id.txt
venv/
