[submodule "PMDC"]
	path = PMDC
	url = https://github.com/PMDCollab/PMDC.git
[submodule "RawAsset"]
	path = RawAsset
	url = https://github.com/PMDCollab/RawAsset.git
[submodule "DumpAsset"]
	path = DumpAsset
	url = https://github.com/audinowho/DumpAsset.git
